<html>
   <head>
      <title>Insert user</title>
   </head>
   <style>
   table {
   border-collapse: collapse;
   }
   td {
   border: 3px solid white;
   }
   </style>
   <body background="/static/bg.png">
      <h1><center><h3><font color=white>Insert User</font><h3></center></h1>
      <form action="/user_register" method="post">
         <table width="50%" heigh="50%" cellspacing="5" cellpadding="10" align="center" background="/static/bgtable.jpg">
            <tr>
               <td bgcolor=#c2d6d6>Username</td>
               <td><input type="text" name="username"></td>
            </tr>
            <tr>
               <td bgcolor=#c2d6d6>Fullname</td>
               <td><input type="text" name="fullname"></td>
            </tr>
            <tr>
               <td bgcolor=#c2d6d6>E-mail</td>
               <td><input type="text" name="email"></td>
            </tr>
            <tr>
               <td bgcolor=#c2d6d6>Password</td>
               <td><input type="text" name="password"></td>
            </tr>
         </table>
         <table border=0 width="50%" heigh="50%" border="0" cellspacing="5" cellpadding="10" align="center" bgcolor=#c2d6d6>
            <tr>
               <td><center><input type="submit" value="Submit"></center></td>
            </tr>
         </table>
      </form>
      <table border=0 width="50%" heigh="50%" border="0" cellspacing="5" cellpadding="10" align="center" bgcolor=#c2d6d6>
         <tr><td><center><a href="/"><font color=#293d3d>Home page</font></a></center></td></tr>
      </table>
   </body>
</html>
